# dependencies
node_modules/
/.pnp
.pnp.js

# Astro build output
dist/
.astro/

# Wrangler local state
.wrangler/

# environment files
.env
.env.local
.env.*.local

# debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
.vercel
Desktop.ini
._*
Thumbs.db
.Spotlight-*
.Trashes
